body {
    /* color pallette generated via coolors.co, so blame them */
    --licorice: #220C10;
    --raisin-black: #2E2425;
    --onyx: #393C3A;
    --feldgrau: #506C64;

    --zomp: #649C8F;
    --keppel: #6EB4A4;
    --tiffany-blue: #77CBB9;
    --moonstone: #75B8C8;
    --light-blue: #A1C6CF;
    --columbia-blue: #B7CDD2;
    --silver: #CDD3D5;

    --error-red: #B40000;


    --border-width: 3px;
    --margin-size: 10px;
    --border-padding: 5px;
    --padding-size: 10px;
}

.navbar {
    display: flex;
    flex: 0 1 auto;
    flex-direction: horizontal;
    margin: auto;
    padding: 0;

    width: 100vw;

    background-color: var(--keppel);
    color: var(--licorice);
}

.navbar-item {
    border: solid var(--licorice) var(--border-width);
    border-left-width: 0;

    width: 100%;
    text-align: center;
}

.navbar-item:hover {
    background-color: var(--moonstone);
    color: var(--licorice);
}

.navbar-text {
    padding: 0;
    margin: 8px 0;
}

.active {
    background-color: var(--onyx);
    color: white;
}

.form {
    display: flex;
    flex: 1 1 auto;

    justify-content: center;
    align-items: center;
}

.form .container {
    flex-direction: column;

    background-color: var(--keppel);
    color: var(--licorice);
}

.container {
    display: flex;
}

.container-bg {
    background-color: var(--keppel);
    color: var(--licorice);
}

.centered-vertical {
    justify-content: center;
}

.centered-horizontal {
    align-items: center;
}

.vertical {
    flex-direction: column;
}

.hoirizontal {
    flex-direction: row;
}

.grow {
    flex: 1;
}

.bordered {
    padding: var(--border-padding);
    border: solid var(--licorice) var(--border-width);
    border-radius: 5px;
}

.form-item {
    display: flex;

    gap: var(--margin-size);
    padding: 15px;
}

.form-item label {
    flex: 0 1 auto;
}

.form-item input {
    flex: 1 1 auto;
}

.form-submit {
    width: min-content;

    margin: 5px;
}

.info-field {
    padding: 0;
    margin: 16px 0;
}

.sub-window-bg {
    background-color: var(--keppel);
    color: var(--licorice);
}

.error-message {
    color: var(--error-red);
    margin: 0;
}

#main-body {
    width: 100vw;
    min-height: 100vh;

    background-color: var(--columbia-blue);
}